<h1>Your Surveys</h1>
<div class="alert-success">
	<p></p>
</div>
<br>
<form class="form-group">
  <input class="form-control" type="text" placeholder="Find a survey">
</form>

<a href="<%= url_for controller: 'surveys', action: 'new' %>">
<button class="btn btn-primary btn-text">
	<span class="glyphicon glyphicon-plus"></span>
	 New Survey
</button>
</a>

 <div>
 <br />
    <div class="list-group">
 	<% @surveys.each do |survey| %>
 		<div>    
       	<a href="<%= url_for :controller => 'surveys', :action => 'edit', :id => survey.id %>" class="list-group-item">

       		<h3><%=survey.name%></h3>
          <%=survey.theme_id%>
          <%=survey.description%>
          <% #link_to "Delete", survey, method: :delete, data: { confirmation: 'Are you sure?' } %> 
     	</a>
     	<br />
     	</div>
    <% end %>
    <div>

 </div>
 
<br>

