<!DOCTYPE html>
<html>
<head> 
  <title>Versable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= meta_keywords %>" /> 
  <meta name="description" content="<%= meta_description %>" />
</head>
<body>

<div>
<%= yield %>
</div>

</body>
<footer>
	<%= render 'layouts/footer' %>
</footer>
</html>
